<div class="content">
  <app-tasks-search (onSearchChange)="onSearchChange($event)"></app-tasks-search>
  <div class="todo-header flex-container">
    <h2>{{ tasksService.currentDate | date: "longDate" }}</h2>
    <tasks-menu></tasks-menu>
  </div>
  <div class="todo-blocks">
    <app-todo-block
      title="Сделать"
      [tasks]="tasksService.tasks[0] | tasksFilter: searchStr"
      [categoryIndex]="0"
      [onTaskMove]="taskService.taskMoving.bind(taskService)"
      [onTaskStopMove]="taskService.taskStopMoving.bind(taskService)"
      (onTodoBlockSetted)="onInitTodoBlock($event)"
    ></app-todo-block>
    <app-todo-block
      title="В процессе"
      [categoryIndex]="1"
      [tasks]="tasksService.tasks[1] | tasksFilter: searchStr"
      [onTaskMove]="taskService.taskMoving.bind(taskService)"
      [onTaskStopMove]="taskService.taskStopMoving.bind(taskService)"
      (onTodoBlockSetted)="onInitTodoBlock($event)"
    ></app-todo-block>
    <app-todo-block
      title="Выполнено"
      [categoryIndex]="2"
      [tasks]="tasksService.tasks[2] | tasksFilter: searchStr"
      [onTaskMove]="taskService.taskMoving.bind(taskService)"
      [onTaskStopMove]="taskService.taskStopMoving.bind(taskService)"
      (onTodoBlockSetted)="onInitTodoBlock($event)"
    ></app-todo-block>
  </div>
  <div #taskdelete class="delete-task" [ngClass]="{ active: taskService.isTaskMoving }">
    <span class="material-icons"> delete </span>
  </div>
  <app-change-task [editingTask]="taskService.editingTask"></app-change-task>
</div>
