<div class="content">
  <div class="todo-header flex-container">
    <h2>{{ tasksService.currentDate | date: "longDate" }}</h2>
    <tasks-menu></tasks-menu>
  </div>
  <div class="todo-blocks">
    <todo-block
      title="Сделать"
      [tasks]="tasksService.tasks[0]"
      categoryIndex="0"
      (addTaskEvent)="tasksService.addTask($event)"
      [onTaskMove]="tasksService.taskMoving.bind(tasksService)"
      [onTaskStopMove]="tasksService.taskStopMoving.bind(tasksService)"
      (onTodoBlockSetted)="onInitTodoBlock($event)"
    ></todo-block>
    <todo-block
      title="В процессе"
      categoryIndex="1"
      [tasks]="tasksService.tasks[1]"
      (addTaskEvent)="tasksService.addTask($event)"
      [onTaskMove]="tasksService.taskMoving.bind(tasksService)"
      [onTaskStopMove]="tasksService.taskStopMoving.bind(tasksService)"
      (onTodoBlockSetted)="onInitTodoBlock($event)"
    ></todo-block>
    <todo-block
      title="Выполнено"
      categoryIndex="2"
      [tasks]="tasksService.tasks[2]"
      (addTaskEvent)="tasksService.addTask($event)"
      [onTaskMove]="tasksService.taskMoving.bind(tasksService)"
      [onTaskStopMove]="tasksService.taskStopMoving.bind(tasksService)"
      (onTodoBlockSetted)="onInitTodoBlock($event)"
    ></todo-block>
  </div>
  <div #taskdelete class="delete-task" [ngClass]="{ active: tasksService.isTaskMoving }">
    <span class="material-icons"> delete </span>
  </div>
</div>
