<div #todo class="todo-block">
  <div class="todo-block__title flex-container">
    <h3>{{ title }}</h3>
    <p>{{ tasks.length }}</p>
  </div>
  <div class="todo-block__task-add item-container">
    <button (click)="openAddTaskWindow()">+</button>
  </div>
  <div class="todo-block__content flex-container">
    <app-task
      *ngFor="let task of tasks"
      [task]="task"
      [categoryIndex]="categoryIndex"
      (onMoveEvent)="onTaskMove($event)"
      (onStopMoveEvent)="onTaskStopMove($event)"
      [openAddSubtaskWindow]="openAddSubtaskWindow.bind(this)"
    ></app-task>
  </div>
  <app-add-task [categoryIndex]="categoryIndex" [onOpenedEvent]="onAddTaskWindowOpened"></app-add-task>
  <app-add-subtask [onOpenedEvent]="onAddSubtaskWindowOpened"></app-add-subtask>
  <div class="todo-block__move"></div>
</div>
