<app-message-window *ngIf="editingTask" [isOpened]="isOpened" (onClosed)="closeWindow()">
  <form [formGroup]="taskEditForm" (ngSubmit)="changeTask()" class="change-task">
    <div class="item-container">
      <label for="title">Название</label>
      <input formControlName="title" id="title" type="text" />
    </div>
    <div class="item-container">
      <label for="description">Описание</label>
      <textarea formControlName="content" id="description"></textarea>
    </div>
    <div class="item-container labels-select">
      <label>Метки</label>
      <div class="flex-container">
        <app-label *ngFor="let label of labels" [label]="label" [onRemove]="removeLabel.bind(this)"></app-label>
        <button (click)="addLabel()" type="button">+</button>
      </div>
    </div>
    <div class="item-container">
      <label for="notificationTime">Время напоминания</label>
      <input formControlName="notificationTime" type="time" id="notificationTime" />
    </div>
    <div class="item-container">
      <button type="submit">Изменить</button>
    </div>
  </form>
</app-message-window>
