<app-message-window [isOpened]="isOpened" (onClosed)="closeWindow()">
  <form [formGroup]="form" (ngSubmit)="addTask()" class="add-task">
    <h2>Добавить задачу</h2>
    <div class="item-container">
      <label for="title">Название</label>
      <input formControlName="title" id="title" type="text" />
    </div>
    <div class="item-container">
      <label for="description">Описание</label>
      <textarea formControlName="content" id="description"></textarea>
    </div>
    <app-add-label-form></app-add-label-form>
    <div class="item-container">
      <label for="notificationTime">Время напоминания</label>
      <input formControlName="notificationTime" type="time" id="notificationTime" />
    </div>
    <div class="item-container">
      <button type="submit">Добавить</button>
    </div>
  </form>
</app-message-window>
