<div class="menu flex-container">
  <nav>
    <a class="flex-container" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      ><span class="material-icons"> task_alt </span>Задачи</a
    >
    <a class="flex-container" routerLink="/calendar" routerLinkActive="active"
      ><span class="material-icons"> calendar_month </span>Календарь</a
    >
    <a class="flex-container" routerLink="/settings" routerLinkActive="active"
      ><span class="material-icons"> settings </span>Настройки</a
    >
  </nav>
</div>
