<aside class="tasks-menu">
  <button (click)="toggle()" class="transparent-button">
    <span class="material-icons"> circle </span>
    <span class="material-icons"> circle </span>
    <span class="material-icons"> circle </span>
  </button>
  <div class="tasks-menu__content" [ngClass]="{ active: isOpened }">
    <button (click)="tasksService.copyTasksToNextDay()" class="transparent-button flex-container">
      <span class="material-icons"> content_copy </span>
      <span>Копировать задачи на следующий день</span>
    </button>
  </div>
</aside>
