.task {
  background: var(--main-bg);
  padding: 1em;
  border-radius: 0.5rem;
  cursor: grab;
  position: relative;
  transition: transform 0.3s ease-in-out;

  &__title {
    justify-content: space-between;

    button {
      padding: 0;
      margin: 0;

      span {
        color: var(--text-color);
        transition: 0.3s color, 0.3s transform ease-in-out;
      }
    }

    .task__edit-btn:hover {
      span {
        transform: scale(1.1) rotateZ(5deg);
        color: var(--main-color);
      }
    }
  }

  &__title-left {
    align-items: center;
    gap: 0.25em;

    h4 {
      word-break: break-word;
    }
  }

  .task__expand {
    &:hover {
      span {
        color: var(--main-color);
      }
    }

    span {
      &.expanded {
        transform: rotateZ(180deg);
      }
    }
  }

  &.grabbing {
    z-index: 100;
    transition: transform 0.02s ease-in-out;
  }

  p {
    margin-top: 0.5em;
    color: var(--text-color);
    word-break: break-word;
  }

  &__subtasks {
    height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 0.5em;
    transition: 0.3s opacity ease-in-out;

    &.active {
      margin-top: 1em;
      height: min-content;
      opacity: 1;
    }

    button {
      width: 100%;
    }
  }
}
