<div class="content settings">
  <h2>Настройки</h2>
  <div class="settings__theme">
    <h3>Цветовая тема</h3>
    <div>
      <input
        [checked]="settingsService.theme === 'dark'"
        (change)="setTheme($event)"
        type="radio"
        name="theme"
        value="dark"
        id="dark-theme"
      />
      <label for="dark-theme">Тёмная</label>
    </div>
    <div>
      <input
        type="radio"
        name="theme"
        [checked]="settingsService.theme === 'light'"
        (change)="setTheme($event)"
        value="light"
        id="light-theme"
      />
      <label for="light-theme">Светлая</label>
    </div>
  </div>
</div>
