<div class="content settings">
  <h2>Настройки</h2>
  <div class="settings__theme">
    <h3>Цветовая тема</h3>
    <div class="settings__themes flex-container">
      <div (click)="setTheme('dark')" [ngClass]="{ active: settingsService.theme === 'dark' }">
        <img src="assets/dark_theme.png" alt="dark theme" />
      </div>
      <div (click)="setTheme('light')" [ngClass]="{ active: settingsService.theme === 'light' }">
        <img src="assets/light_theme.png" alt="light theme" />
      </div>
    </div>
  </div>
</div>
